<%= form_for @pessoa, html: { class: 'pessoa_search' } do |f| %>
  <%= params[:action].eql?("edit") ? " " : "" %>
  <% if @pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> Não foi possivel salvar Pessoa: </h2>
      <ul>
        <% @pessoa.errors.full_messages_for(:nome).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @pessoa.errors.full_messages_for(:email).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @pessoa.errors.full_messages_for(:cpf).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @pessoa.errors.full_messages_for(:telefone).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-lg-4">
    <%= f.label :nome, "Nome:", class: 'text-white' %>
    <%= f.text_field :nome,  class: "form-control" %>
    <% @pessoa.errors.full_messages_for(:nome).each do |message| %>
      <div> <%= message  %> </div>
    <% end %>
  </div>
  <br/>
  <div class="col-lg-4">
    <%= f.label :email, "Email:", class: 'text-white' %>
    <%= f.text_field :email,  class: "form-control" %>
    <% @pessoa.errors.full_messages_for(:email).each do |message| %>
      <div> <%= message  %> </div>
    <% end %>
  </div>
  <br/>
  <div class="col-lg-4">
    <%= f.label :cpf, "CPF:", class: 'text-white' %>
    <%= f.text_field :cpf,  class: "form-control" %>
    <% @pessoa.errors.full_messages_for(:cpf).each do |message| %>
      <div> <%= message  %> </div>
    <% end %>
  </div>
  <br/>
  <div class="col-lg-4">
    <%= f.label :telefone, "Telefone:", class: 'text-white' %>
    <%= f.text_field :telefone,  class: "form-control"%>
    <% @pessoa.errors.full_messages_for(:telefone).each do |message| %>
      <div> <%= message  %> </div>
    <% end %>
  </div>
  <br/>
  <div>
    <%= f.submit "Criar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', pessoas_url, class: "btn btn-secondary" %>
  </div>
<% end %>