<br/>
<h1>Lista de Pessoas</h1>
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <%= render 'search_form' %>      
    </header>
    <% @pessoas.each do |pessoa| %>
      <div class="p-5 mb-2 bg-light rounded-3">
        <div class="container-fluid py-2">
          <div class="row align-items-md-stretch">
            <div class="col-md-5">
              <div class="h-100 p-5 bg-dark border rounded-3 text-white">
                <h2><%= pessoa.nome %></h2>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "Mostrar", pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary" %>
                      <%= link_to "Editar", edit_pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary" %>

                      <%= link_to "Deletar", pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary",
                                  method: :delete, 
                                  data: {confirm: "Tem Certeza?"} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2><%= pessoa.nome %></h2>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "Mostrar", pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary" %>
                      <%= link_to "Editar", edit_pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary" %>

                      <%= link_to "Deletar", pessoa_path(pessoa), 
                                  class: "btn btn-outline-secondary",
                                  method: :delete, 
                                  data: {confirm: "Tem Certeza?"} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <%= link_to 'Novo Cadastro', new_pessoa_path, class: 'btn btn-primary' %>
  </div>
</main>