<br/>
<section>
  <div class="container">  
    <div class="row">
      <div class="col-sm-5 col-md-6 col-12 pb-4 text-white">
        <h1 class="text-white">Dados Cadastro</h1>
        <br>  
        <div>
          <strong>Nome:</strong>
          <%= @pessoa.nome %>
        </div>
        <br>
        <div>
          <strong>Email:</strong>
          <%= @pessoa.email %>
        </div>
        <br>
        <div>
          <strong>CPF:</strong>
          <%= @pessoa.cpf %>
        </div>
        <br>
        <div>
          <strong>Telefone:</strong>
          <%= @pessoa.telefone %>
        </div>
        <br>
      </div>
    </div>  
  </div>
  <div>
    <%= link_to "Voltar", root_path, class: "btn btn-primary" %> 
  </div>    
</section>


