<br/>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="widget margin-t-md" style="margin-bottom: 15px">
      <div class="widget-header" style="margin-bottom: 15px">
        <div class="widget-title">
          <h1>Dados Cadastro<h1>
        </div>
        <br/>
      </div>
      <br>
      <div class="widget margin-t-md" style="margin-bottom: 15px">
        <br> 
        <div class="text-white">
          <strong>Nome:</strong>
          <%= @pessoa.nome %>
        </div>
        <br>
        <div class="text-white">
          <strong>Email:</strong>
          <%= @pessoa.email %>
        </div>
        <br>
        <div class="text-white">
          <strong>CPF:</strong>
          <%= @pessoa.cpf %>
        </div>
        <br>
        <div class="text-white">
          <strong>Telefone:</strong>
          <%= @pessoa.telefone %>
        </div>
        <br>
      </div>
    </div>  
    <div>
      <%= link_to "Voltar", root_path, class: "btn btn-primary" %> 
    </div>    
  </div>
</div>


